{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "modules": "commonjs"
      }
    ],
    "@babel/react",
    "@babel/flow"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining",
    ["@babel/plugin-transform-runtime", { "corejs": 2, "helpers": false }]
  ]
}
